* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url("../img/fundo.png");
}

.button{
    background-color: transparent;
    border: none;
    
}

.link{
    text-decoration: none;
    color: black;
}

.link:hover{
    color: red;
}
